<ul class="nav navbar-nav">
      <li title="Login" [routerLinkActive]="['active']">
        <a routerLink="/login/login">
          <span>Login</span>
        </a>
      </li>
    <li title="Plan" [routerLinkActive]="['active']">
        <a routerLink="/plan/plan-home/procedure-list">
            <span>Plan</span>
        </a>
    </li>
    <li title="Design" [routerLinkActive]="['active']">
        <a routerLink="/design/design-home/design-list">
            <span>Design</span>
        </a>
    </li>
    <li title="Execution" [routerLinkActive]="['active']">
      <a routerLink="/execution/execution-home/execution-list">
        <span>Execution</span>
      </a>
    </li>
</ul>