<ul class="nav navbar-nav">
      <li title="Login" >
        <a routerLink="/login/login">
          <span>Login</span>
        </a>
      </li>
    <li title="Plan" [routerLinkActive]="['active']">
        <a routerLink="/plan/plan-home">
            <span>Plan</span>
        </a>
    </li>
    <li title="Design" >
        <a routerLink="/design/design-home">
            <span>Design</span>
        </a>
    </li>
    <li title="Execution">
      <a routerLink="/execution/execution-home">
        <span>Execution</span>
      </a>
    </li>
</ul>