<p>procedure-details works!</p>
<ul class="nav navbar-nav">
  <li title="plan" >
    <a routerLink="/plan/plan-home/procedure-details/details-home/plan">
      <span [routerLinkActive]="['active']">plan</span>
    </a>
  </li>
  <li title="design">
    <a routerLink="/plan/plan-home/procedure-details/details-home/design">
      <span [routerLinkActive]="['active']">design</span>
    </a>
  </li>
  <li title="execution">
    <a routerLink="/plan/plan-home/procedure-details/details-home/execution">
      <span [routerLinkActive]="['active']">execution</span>
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
